/* line 1, ../sass/tweetneat.scss */
textarea {
  width: 100%;
}

/* line 5, ../sass/tweetneat.scss */
.form-container {
  position: relative;
  overflow-x: hidden;
}
/* line 9, ../sass/tweetneat.scss */
.form-container .form-row {
  padding: 10px 0;
}
/* line 15, ../sass/tweetneat.scss */
.form-container .form-control .control-label {
  padding: 4px 0;
}
/* line 19, ../sass/tweetneat.scss */
.form-container .form-control .control-field {
  padding: 4px 0;
}
/* line 24, ../sass/tweetneat.scss */
.form-container .form-honeypot {
  position: absolute;
  bottom: 0;
  left: -999px;
  height: 0;
  width: 0;
}

/* line 34, ../sass/tweetneat.scss */
.twitter-composer {
  background-color: rgba(85, 172, 238, 0.5);
  border-radius: 8px;
  padding: 11px 8px 6px 6px;
}
/* line 38, ../sass/tweetneat.scss */
.twitter-composer textarea {
  border: none;
  resize: none;
}
